<%url = "https://maps.googleapis.com/maps/api/geocode/json?address=#{URI.encode(@venue.address)}&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM" %>

 <%     raw_data = open(url).read %>

 <%    parsed_data = JSON.parse(raw_data) %>

      
   <%  latitude = parsed_data.dig("results",0,"geometry","location","lat") %>

  <%   longitude = parsed_data.dig("results",0,"geometry","location","lng") %>



<div class="container mt-4">


<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= @venue.name %>

            <small class="text-muted">
                <%= @venue.address %>
             
            </small>
        </h4>
      </div>

      <div class="card-body">
        <div id="map" style="height: 360px">
        </div>
    </div>

      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          Dishes you loved here
        </li>
        <% Bookmark.where(venue_id: @venue.id).each do |bookmark| %>
          <li class="list-group-item">
            <p>
              <a href="/dishes/<%= bookmark.dish_id%>">
                <%= Dish.find(bookmark.dish_id).name%>
              </a>

              <small class="float-right text-muted">
                <%=time_ago_in_words(bookmark.created_at) %>

                <a href="/bookmarks/<%= bookmark.id %>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>

                <a href="/delete_bookmark/<%= bookmark.id %>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              </small>
            </p>

          </li>
<%end%>
        <li class="list-group-item">
          <form action="/create_bookmark" class="form-inline float-left" method="post">



            <input type="hidden" name="venue_id" value= "<%= @venue.id%>">
            <input type="hidden" name="user_id" value= "<%= current_user.id%>">
            <input type="hidden" name="notes" value= "">

            <!-- Label and input for dish_id -->
            <div class="form-group mr-sm-1">
              <label for="dish_id" class="control-label sr-only">
                Dish
              </label>


              <%= select_tag("dish_id", options_from_collection_for_select(Dish.all, :id, :name, @dish.try(:dish_id)), prompt: "Choose a dish...", :class => "form-control form-control-sm mr-sm-1") %>
            </div>

            <button class="btn btn-primary btn">
              <i class="fa fa-heart"></i>
            </button>
          </form>
          <small class="float-right text-muted">
            right now
          </small>
        </li>

        <li class="list-group-item list-group-item-success">
          Popular dishes here
        </li>
      <% Bookmark.where(venue_id: @venue.id).each do |bookmark| %>
          <li class="list-group-item">
            <a href="/dishes/<%= bookmark.dish_id%>">
              <%= Dish.find(bookmark.dish_id).name%>
            </a>
          </li>
          <%end%>
      </ul>

      <div class="card-footer text-center">
        <a href="/venues" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM&callback=initMap"></script>

<script>
function initMap() {
  // The location of Uluru
  var uluru = {lat: <%=latitude%>, lng: <%=longitude%>};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 16, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
